.forgotContainer{
    width: 100%;
    justify-content: center;
    margin-top: 41px;
    .container2{
        display: inline;
        .title{
            height: 38px;
            font-family: NotoSans;
            font-size: 28px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.89;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
        }
        .title2{
            height: 82px;
            font-family: NotoSans;
            font-size: 60px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
        }
    }

    .contents{
        justify-content: center;
        display: flex;
        margin-top: 41px;
        .in{
            width: 606px;
            justify-content: center;
            .inContents{
                margin-bottom: 10px;
                .subTitle{
                    height: 27px;
                    font-family: NotoSans;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.35;
                    letter-spacing: normal;
                    text-align: left;
                    color: #e4e4e4;
                    margin-bottom: 5px;
                }
                .passwordInput{
                    width: 606px;
                    height: 60px;
                    border-radius: 10px;
                    border: solid 1px #707070;
                    background: #eaeaea; 
                    font-size: 20px;
                }

                .email{
                    display: flex; 
                    .subInput{
                        width: 530px;
                        height: 60px;
                        border-radius: 10px;
                        border: solid 1px #707070;
                        background: #eaeaea; 
                        font-size: 20px;
                        .confirmSuccess{
                            background: #3aada8;
                            width: 80px;
                        }   
                        .confirmFail{
                            background: #c0c0c0;
                            width: 50px;
                            margin: 0px 0px 0px 10px;
                            padding: 0px;
                            border-radius: 10px;
                            max-width: 80px;
                            cursor: none;
                        }
                    }
                }
            }
            .changeSuccess{
                width: 606px;
                height: 75px;
                border-radius: 10px;
                font-family: NotoSans;
                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;      
                color: #e4e4e4;
                background-color: #3aada8;
                &:hover{
                    background: #287571;
                }              
            }
        
            .changeFail{
                width: 606px;
                height: 75px;
                border-radius: 10px;
                color: #e4e4e4;
                background-color: #287571;
                font-family: NotoSans;
                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
            }
        }
    }
}