html, body {
  height: 100%;
}

.container {
  position:relative;
  width: 100%;
  min-width: 1280px; // 창 최소 사이즈
  height: 100%;
}

.top {
  width: 100%;
  height: 80px;

  background: #414141;
}

.left {
  position:absolute;
  top:80px;
  left:0;
  bottom: 50px;

  width: 444px;
  height: 915px;
}

.bottom {
  position:absolute;
  top: 995px;

  width: 100%;
  height: 50px;
}

.about {
  position:absolute;
  top: 80px;
  bottom: 50px;
  // left:444px;

  // width: calc(100%  - 444px); // left 너비만큼 빼기
  width: 100%;
  height: 915px;

  background: #393939;
  overflow: hidden;
}

.about-container{
  width: 100%;
  min-width: 750px;
  margin: 60px auto;
  padding-left: 40px;
  padding-right: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  overflow-x: auto;
}

.about-kosm, .about-us {
  margin-top: 30px;
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.96;
  font-family: 'NotoSans';
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #eaeaea;

  margin-bottom: 16px;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-family: 'NotoSans';
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #eaeaea;
}

.member-row {
  display: flex;
  align-items: center;
  align-content: space-around;
}

.member-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.member-img {
  width: 82px;
  height: 82px;
  margin-right: 16px;
  border-radius: 4px;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.member-text {
  box-sizing: border-box;
  display: block;

  font-family: 'NotoSans';
  font-size: 20px;
  font-stretch: normal;
  letter-spacing: normal;

  .member-name {
    margin-bottom: 4px;

    font-weight: bold;
    font-style: normal;
    color: #eaeaea;
  }

  .member-job, .member-univ {
    margin: 0;

    font-size:16px;
    font-weight: lighter;
    color: #aaaaaa;
  }
}

.member-contact {
  box-sizing: border-box;
  display: block;

  font-family: 'NotoSans';
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: normal;

  margin-top:0;
  margin-bottom: 24px;

  .member-email, .member-github {
    margin: 0;

    font-weight: normal;
    color: #eaeaea;
    a {
      color:hsl(177, 50%, 45%);
    }

    a:hover {
      color:hsl(177, 50%, 35%);
      // text-decoration: underline;
    }
  }

  .github-icon {
    width:16px;
    height: 16px;
    margin-right: 6px;
  }
}