.signUpScreen{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    margin-top: 40.5px;
    .signUpContainer{
        width: 606px;
        height: 990px;
        .signUpTitle{
            height: 38px;
            font-family: NotoSans;
            font-size: 28px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.89;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
            display: flex;
            justify-content: center;
        }
        .signUpTitle2 {
            text-align:center;
            height: 82px;
            font-family: NotoSans;
            font-size: 60px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
        }
        .signUpFormContainer{
            .signUpSubTitle{
                height: 27px;
                font-family: NotoSans;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #e4e4e4;
                margin-bottom: 5px;
            }
            .signUpSubInput{
                width: 606px;
                height: 60px;
                border-radius: 10px;
                border: solid 1px #707070;
                background-color: #eaeaea; 
                margin-bottom: 10px;
           }
        }
        .signUpButtonContainer{
            display: flex;
            padding: 30px 40px;
            justify-content:center;
            .signUpButton{
                width: 100%;
                height: 40px;
                font-size: 20px;
                &:hover{
                    background: rgb(100, 100, 100);
                    color:rgb(255, 255, 255);
                }
            }
        }
    }
}