.signUpScreen{
    width: 100%;
    height: 100%;
    margin: 80px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    .signUpContainer{
        width: 400px;
        height: 600px;
        border-width:thin;
        border:1px solid black;
        align-items:center;
        padding: 2% 2%;
        border-color:black;
        .signUpTitle {
            text-align:center;
            padding-top: 20px;
        }
        .signUpForm{
            padding: 30px 20px;
            .signUpFormContainer{
                padding: 10px 10px;
                width: 100%;
                .signUpSubTitle{
                    padding: 0px 0px 10px 0px;
                }
                .signUpSubInput{
                    width: 300px;
                    height: 25px;
                    margin: 0px 10px 0px 10px;
                }
            }
        }
        .signUpButtonContainer{
            display: flex;
            padding: 30px 40px;
            justify-content:center;
            .signUpButton{
                width: 100%;
                height: 40px;
                font-size: 20px;
                &:hover{
                    background: rgb(100, 100, 100);
                    color:rgb(255, 255, 255);
                }
            }
        }
    }
}