.loginScreen{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    .loginContainer{
        width: 456px;
        height: 990px;
        border-width:thin;
        .loginTitle {
            text-align:center;
            padding-top: 40.5px;
            align-items: center;
            .loginTitle2{
                width: 100%;
                height: 38px;
                font-family: NotoSans;
                font-size: 28px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.89;
                letter-spacing: normal;
                text-align: center;
                color: #eaeaea;    
            }
            .loginTitle3{
                width: 100%;
                height: 82px;
                font-family: NotoSans;
                font-size: 60px;
                font-weight: bold;
                font-stretch: normal;
                line-height: 1.28;
                letter-spacing: normal;
                text-align: center;
                color: #eaeaea;
                vertical-align: center;
            }
        }
        .loginForm{
            margin-top: 98px;
            width: 456px;
            .loginFormContainer{
                .loginSubTitle{
                    color: #eaeaea;
                    font-family: NotoSans;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.35;
                    letter-spacing: normal;
                }

                .loginSubInput{
                    margin-top: 5px;
                    border-radius: 10px;
                    border: solid 1px #707070;
                    background: #eaeaea;
                    width: 456px;
                    height: 60px;
                    padding: 0px 10px 0px 10px;
                }
            }
        }
        .loginButtonContainer{
            width: 100%;
            justify-content:center;
            .loginButton{
                width: 456px;
                height: 75px;
                font-size:30px;
                font-family: NotoSans;
                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;            
                background: #3aada8;
                border-radius: 10px;
                &:hover{
                    background: rgb(100, 100, 100);
                    color:rgb(255, 255, 255);
                }
            }
        }
        .loginSignUpContainer{
            display:flex;
            margin-top: 23px;
            .findPassword {
                height: 28px;
                font-family: NotoSans;
                font-size: 19px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: center;
                color: #bfbfbf;
                :hover{
                    color: skyblue;
                }
            }
            .loginSignUpText{
                height: 28px;
                font-family: NotoSans;
                font-size: 19px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: -1px;
                text-align: center;
                color: #f5f5f5;
            }
            .loginSignUp{
                margin-left: 30px;
                height: 27px;
                font-family: NotoSans;
                font-size: 19px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: center;
                color: #3aada8;    
                &:hover{
                    color: skyblue;
                    cursor: pointer;
                }
            }
        }
    }
}