.favListContainers{
    height: 67px;

    .favList{
        display: flex;
        margin-left: 120.8px;
        .star{
            margin-right: 21.1px;
        }
        
        .name{
            width: 530px;
            height: 36px;
            font-family: NotoSans;
            font-size: 34px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.89;
            letter-spacing: normal;
            text-align: left;
            color: #eaeaea;
            .link{
                align-content: center;
                text-decoration: none;
                color: #e4e4e4;
                &:hover{
                    color: #3aada8;
                }
            }            
        }
        
        .patchDate{
            min-width: 150px;
            height: 34px;
            font-family: NotoSans;
            font-size: 25px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #eaeaea;
        }

        .vulDate{
            margin-left: 130px;
            min-width: 180px;
            text-align:center;
            height: 34px;
            font-family: NotoSans;
            font-size: 25px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #eaeaea;
        }
    }
}

.favorite-new {
    border-radius: 9px;
    padding:0px 6px 2px 6px;
    margin-left:16px;
    font-size: 16px;
    color:white;
    background-color: rgb(58, 173, 168);
}