.menuContainer{
    height: 80px;
    background: #414141;
    width: 100%;
    .container{
        width: 100%;
        color:white;
        padding: 25px 30px 30px;
        display: flex;
        justify-content: space-between;
        .leftContainer{
            width: 100%;
            display: flex;
        }
        .rightContainer{
            width: 50%;
            flex-direction: row;
            display: flex;
            color:white;
            justify-content: space-between; 

            // @media screen and (max-width: 768px){
            //     background-color: green;
            // }

        }
    }

    // 좌측으로 정렬시키기 위한 클래스
    .listContainer{
        float:left;
    }
}