@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');


.menuContainer{
    height: 80px;
    background: #414141;
    width: 100%;
    .also-menu-container{ // 이름짓기가 참으로 어렵다
        width: 100%;
        color:white;
        padding: 25px 30px 30px;
        display: flex;
        justify-content: space-between;
        .leftContainer{
            width: 100%;
            display: flex;
        }
        .rightContainer{
            width: 50%;
            flex-direction: row;
            display: flex;
            color:white;
            justify-content: space-between; 

            // @media screen and (max-width: 768px){
            //     background-color: green;
            // }
        }
        .dropdown-menu{
            width: 100px;
            min-width: 100px;
            background: #414141;

            .dropdown-link{
                width: 80px;
                text-align:center;
                color: #e4e4e4;
                justify-content: center;
                text-decoration: none;
                // &:hover{
                //     color: #000000;
                // }
            }

            .dropdown-item:hover > .dropdown-link {
                color: #000000;
            }
        }
    }

    // 좌측으로 정렬시키기 위한 클래스
    .listContainer{
        float:left;
    }
}

.menu {
    width: 60px;
    height: 27px;
    font-family: 'NotoSans';
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color:#e4e4e4;
}

.username-button{
    padding:0px;
    background:#414141;
    border:none;
    color:#e4e4e4;
    
    width: 60px;
    height: 27px;
    font-family: 'NotoSans';
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
}