html, body {
    height: 100%;
}

.container {
position:relative;
width: 100%;
min-width: 1280px; // 창 최소 사이즈
height: 100%;
}

.top {
width: 100%;
height: 80px;

background: #414141;
}

.left {
position:absolute;
top:80px;
left:0;
bottom: 50px;

width: 444px;
height: 915px;
}

.article {
    position:absolute;
    top:80px;
    bottom: 50px;
    left:444px;

    width: calc(100%  - 444px); // left 너비만큼 빼기
    height: 915px;

    background: #393939;
    overflow: hidden;
}

.bottom {
position:absolute;
top:995px;

width: 100%;
height: 50px;
}

.article-container {
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.article-back-button-area{
    text-align: left;
    margin-bottom: 15px;
}

.article-header {
    display: flex;
    border-bottom: solid 2px #bfbfbf;
    padding:15px;

    font-family: NotoSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;

    color: #eaeaea;
}

.left-article-header {
    flex: 1;
    text-align: left;
    // padding: 1rem;
  }
  
  .right-article-header {
    flex: 1;
    text-align: right;
}

.article-body {
    font-family: NotoSans;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #eaeaea;
}

.article-author{
    margin-top: 10px;
    padding-right: 15px;
    text-align: right;
}

.article-content-area {
    margin-top: 15px;
    height:400px;
  border-radius: 10px;
  border: solid 2px #bfbfbf;
  background-color: #393939;
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  padding: 15px;
}

.go-board-button {
    margin-top: 15px;
    border-radius: 10px;
    background-color: #3aada8;
}