.changeContainer{
    width: 100%;
    background: #393939;
    padding-top: 41px;
    justify-content: center;
    .title{
        .title1{
            height: 38px;
            font-family: NotoSans;
            font-size: 28px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.89;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
        }

        .title2 {
            height: 82px;
            font-family: NotoSans;
            font-size: 60px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: center;
            color: #eaeaea;
        }
    }
    .mainContents{
        margin-top: 28px;
        justify-content: center;
        display: flex;
        .contents{
            width: 606px;
            .subContents{
                width: 100%;
                .subTitles{
                    justify-content: center;
    
                    height: 27px;
                    font-family: NotoSans;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.35;
                    letter-spacing: normal;
                    text-align: left;
                    color: #e4e4e4;
                    margin-bottom: 5px;
                }

                .inputContents{
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    .inputs{
                        padding: 0px 0px 0px 20px;
                        width: 606px;
                        height: 60px;
                        border-radius: 10px;
                        border: solid 1px #707070;
                        background-color: #ffffff;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .changeButton{
        width: 606px;
        height: 75px;
        margin-top: 32px;
        border-radius: 10px;
        background: #3aada8;
    }
}