.beforeMainSource{

    .topLicense{
        height: 28px;
        font-family: NotoSans;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: left;
        color: #eaeaea;
        margin-left:18px;
    }

    .topPage{
        height: 20px;
        font-family: NotoSans;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.33;
        letter-spacing: normal;
        text-align: left;
        color: #bfbfbf;
        margin-left: 31px;
        .link{
            color: #e4e4e4;
            margin-right: 30px;
            &:hover{
                color: #3aada8
            }
        }
    }

    .topDate{
        height: 20px;
        font-family: NotoSans;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.33;
        letter-spacing: normal;
        text-align: left;
        color: #bfbfbf;
        margin-left: 65px;
    }
}