.manage-container {
    position:absolute;
    width: 100%;
    min-width: 1280px; // 창 최소 사이즈
    height: 100%;
}

.manage-.board {
    position:absolute;

    width: 100%; // left 너비만큼 빼기
    height: 915px;

    background: #393939;
    overflow: hidden;
}

.admin-container {
    
    font-family: NotoSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #eaeaea;
}

.admin-title {
    font-size: 50px;
    font-weight: bold;
}

.admin-content {
    margin-top: 15px;
    font-size: 20px;
}

.admin-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    vertical-align:top;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.input-admin-password {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #eaeaea;
    margin-right: 15px;
}

.admin-button {
  height: 50px;
  border-radius: 10px;
  background-color: #3aada8;
}