html, body {
    height: 100%;
}

.container {
    position:relative;
    width: 100%;
    min-width: 1280px; // 창 최소 사이즈
    height: 100%;
  }

.top {
    width: 100%;
    height: 80px;

    background: #414141;
}

.left {
    position:absolute;
    top:80px;
    left:0;
    bottom: 50px;
 
    width: 444px;
    height: 915px;
}

.detail-main-content {
    position:absolute;
    top:80px;
    bottom: 50px;
    left:444px;
 
    width: calc(100%  - 444px); // left 너비만큼 빼기
    height: 915px;
    // padding-left: 170px;
    // padding-top: 189px;

    background: #393939;
    // background-image: url("/bg.png");
    // background-size: cover;
    overflow: hidden;

    .detail-title-content{
        margin-left: 100px;
        display: inline-block;
        font-size: 50px;
        margin-top:54px;
        color: #3aada8;
        height: 68px;
        font-family: NotoSans;
        font-size: 50px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;

        .nvdLink{
            width: 100px;
            height: 100px;
            margin-left: 30px;
        }
    }
}

.bottom {
    position:absolute;
    top:995px;

    width: 100%;
    height: 50px;
}

.go-board-button {
    margin-top: 15px;
    border-radius: 10px;
    background-color: #3aada8;
}