.detailContents{
    margin-left:100px;
    width: 100%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;

    .scores{
        margin-bottom: 30px;
    }

    .date{
        margin-bottom: 20px;
    }

    .detailTitle{
        padding-right: 10%;
        display: inline-block;
        font-size: 50px;
        margin-top:54px;
        color: #e4e4e4;
        height: 68px;
        font-family: NotoSans;
        font-size: 50px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #eaeaea;
    }

    .titles{
        font-family: NotoSans;
        font-size: 28px;
        .contents{
            font-size: 15px;
            width: 90%;
            height: 100%;
            line-height: 1.5;
            margin-top: 20px;
            margin-bottom: 20px;
            .preference{
                color: #e4e4e4;
                &:hover{
                    color: #3aada8;
                }
            }
        }

        .hr{
            border: 1px solid #e4e4e4;
            width: 90%;
            margin: 20.5px 0px 30px 0px;
        }
    }
}