.footer-content {
    width: 100%;
    height: 100%;
    
    background: #3aada8;
    color: #eaeaea;
    text-align: center;
    font-size: 18px;
    
    display:flex;
    align-items:center;
    justify-content: center;
}