.footer-content {
    width: 100%;
     // Footer 높이 조절
     // 100% = 50px
    height: calc(100% + 50px);
    
    //background: #3aada8;
    //border-top: 1px solid #eaeaea;
    background: rgb(51, 51, 51);
    color: #d1d1d1;
    text-align: center;
    font-size: 18px;
    
    display:flex;
    align-items:center;
    justify-content: center;
}