.menuContainer{
    height: 80px;
    background: #000;
    width: 100%;
    .container{
        width: 100%;
        color:white;
        padding: 25px 30px;
        display: flex;
        margin: 0px 0px 20px;
        justify-content: space-between;
        .rightContainer{
            width: 300px;
            flex-direction: row;
            display: flex;
            color:white;
            justify-content: space-between; 
            
            // @media screen and (max-width: 768px){
            //     background-color: green;
            // }

        }
    }

    // 좌측으로 정렬시키기 위한 클래스
    .listContainer{
        float:left;
    }
}