textarea:focus, input:focus{
  outline: none;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

li{
  margin-bottom: 5px;
}

li > a{
  color: #eaeaea;
}

li > a:hover{
  color: #3aada8;
}

.opensource-item {
  list-style-type: none;
  padding-left : 9px;
  font-family : NotoSans;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 2px;
}

.collapse.show {
  margin-left: 18px;
  margin-right: 18px;
  background-color: #393939;
}

div { // div 대신 html 쓰면 싹다 바뀜
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    // background: #f5f5f5;
    background:#fff;
    border-radius:16px;
  }

  ::-webkit-scrollbar-track:hover {
    // background: #f8f8f8;
    background:#f4f4f4
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: #888; 
    background:#babac0;
    border-radius:16px;
    border:2px solid #fff
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: #555;
    background:#a0a0a5;
    border:1px solid #f4f4f4
  }
}