textarea:focus, input:focus{
  outline: none;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

li{
  margin-bottom: 5px;
}

li > a{
  color: #eaeaea;
}

li > a:hover{
  color: #3aada8;
}
div{
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}