textarea:focus, input:focus{
  outline: none;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

li{
  margin-bottom: 5px;
}

li > a{
  color: #eaeaea;
}

li > a:hover{
  color: #3aada8;
}

.opensource-item {
  list-style-type: none;
  padding-left : 9px;
  font-family : NotoSans;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 2px;
}

.collapse.show {
  margin-left: 22px;
  //margin-right: 16px;
  //background-color: #393939;
  border-left: 1px solid #8b8b8b;
}

.btn-category {
  width:100%;
  text-align: left;
  font-family : NotoSans;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 2px;
}

div { // div 대신 html 쓰면 싹다 바뀜
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    // background: #f5f5f5;
    background:#fff;
    border-radius:16px;
  }

  ::-webkit-scrollbar-track:hover {
    // background: #f8f8f8;
    background:#f4f4f4
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: #888; 
    background:#babac0;
    border-radius:16px;
    border:2px solid #fff
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: #555;
    background:#a0a0a5;
    border:1px solid #f4f4f4
  }
}

.source-list-container{
  width: 444px;
  height: 915px;
  background: #414141;
  padding-left: 48px;
  padding-top: 38px;
  .project{
    color: #e4e4e4;
    width: 121px;
    height: 41px;
    font-family: NotoSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 33px; // 41 + 33 = 74
  }
  .label{
    justify-content: left;
    display: flex;
    .input{
      font-family: NotoSans;
      width: 361px;
      height: 44px;
      border: none;
      border-radius: 9px;
      background-color: #f5f5f5;
      padding: 2px 8px;
      margin-bottom: 52px; // 44 + 52 = 96
    }
  }
}