@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.loginScreen{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    .loginContainer{
        width: 400px;
        height: 500px;
        border-width:thin;
        border:1px solid black;
        .loginTitle {
            text-align:center;
            padding-top: 20px;
        }
        .loginForm{
            padding: 30px 20px;
            .loginFormContainer{
                padding: 10px 10px;
                .loginSubTitle{
                    padding: 0px 0px 10px 0px;
                }
                .loginSubInput{
                    width: 100%;
                    height: 25px;
                    padding: 0px 10px 0px 10px;

                }
            }
            .loginFindContainer{
                padding: 10px;
                display: flex;
                justify-content:flex-end;
                .loginFindInfo{
                    font-size: 10px;
                    display:block;
                    color: blue;
                    &:hover{
                        cursor: pointer;
                        color: skyblue;                        
                    }
                }
            }
        }
        .loginButtonContainer{
            display: flex;
            padding: 30px 20px;
            justify-content:center;
            .loginButton{
                width: 100%;
                height: 40px;
                font-size: 20px;
                padding: 0px 10px 0px 10px;

                &:hover{
                    background: rgb(100, 100, 100);
                    color:rgb(255, 255, 255);
                }
            }
        }
        .loginSignUpContainer{
            margin: 30px 20px;
            display:flex;
            justify-content: flex-end;
            .loginSignUpText{
                display:inline;
                font-size: 10px;
            }
            .loginSignUp{
                font-size: 10px;
                color: blue;
                display:inline;
                padding-left:3px;
                &:hover{
                    color: skyblue;
                    cursor: pointer;
                }
            }
        }
    }
}