.hr{
    margin-top: 19.5px;
    background: #e4e4e4;
    margin-left: 118px;
    margin-right: 165px;
}

.mainContent{
    height: 500px; // 정밀 측정 필요
    //overflow-y: auto;
    margin-right: 165px;
}