.hr{
    margin-top: 19.5px;
    background: #e4e4e4;
    // margin-left: 100px;
    // margin-right: 50px;
}

.mainContent{
    // background-color: red;
    height: 565px; // 꽉찬 길이 : 615px
    
    // margin-left: 100px;
    // margin-right: 50px;
}