.hr{
    margin-top: 19.5px;
    background: #e4e4e4;
    margin-left: 118px;
    margin-right: 165px;
}

.mainContent{
    //width:100%;
    height: 615px;
    //overflow-y: auto;
    margin-right: 165px;
}