.container {
    position:relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.top {
    background: #414141;
    // max-width: 100%;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

.left {
    position:absolute;
    top:80px;
    left:0;
    width: 444px;
}

.source {
    width: calc(100%  - 444px); // left 너비만큼 빼기
    height: calc(100% - 75px); // top 높이만큼 빼기 왜 80px 빼는건데 75여야 꽉차는걸까
    // padding-left: 170px;
    // padding-top: 189px;
    position:absolute;
    top:80px;
    left:444px;
    background: #393939;
    // overflow:hidden;
}
