@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.top-container {
    display: flex;
    height: 80px;
    padding: 25px 30px 30px;
    justify-content: space-between;
    background: #414141;
}

.logo {
    // padding-left: 48px;
    // padding-top: 14px;
    width: 86px;
    height: 53px;
    font-family: 'Libre Franklin', ;
    font-size: 47px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    a {
        color: #3aada8;
    }
}

.menu {
    width: 60px;
    height: 27px;
    font-family: 'NotoSans';
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    a {
        color: #e4e4e4;
    }
}

.dropdown {
    .dropdownMenu {
        width: 100px;
        min-width: 100px;
        background: #414141;
        .dropdownItem {
            color: #FFFFFF;
            justify-content: center;
            display: flex;
            .link{

                &:hover{
                    color: #000000;
                    text-decoration: none;
                    border-radius: 2px;
                }
            }
        }
    }
}
