html, body {
    height: 100%;
}

.container {
    position:relative;
    width: 100%;
    min-width: 1280px; // 창 최소 사이즈
    height: 100%;
  }

.top {
    width: 100%;
    height: 80px;

    background: #414141;
}

.left {
    position:absolute;
    top:80px;
    left:0;
    bottom: 50px;
 
    width: 444px;
    height: 915px;
}

.source {
    position:absolute;
    top:80px;
    bottom: 50px;
    left:444px;
 
    width: calc(100%  - 444px); // left 너비만큼 빼기
    height: 915px;
    // padding-left: 170px;
    // padding-top: 189px;

    background: #393939;
    // background-image: url("/bg.png");
    // background-size: cover;
    overflow: hidden;
}

.bottom {
    position:absolute;
    top:995px;

    width: 100%;
    height: 50px;
    
    // 임시 디자인
    background: #3aada8;
    color: #eaeaea;
    text-align: center;
    font-size: 30px;
}

.minititle{
    margin-left: 100px;
    margin-bottom: 30px;
}

.vul{
    height: 55px;
    font-family: NotoSans;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;
    margin-left: 118px;
}

.star{
    align-items: center;
    vertical-align: center;
}   

.before{
    margin-left: 100px;
    margin-top: 59px;
    height: 68px;
    font-family: NotoSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;
}

.after{
    display: flex;
    margin-left: 100px;
    margin-top: 59px;
    margin-bottom: 10px;

    .name{
        margin-left: 10px;
        height: 68px;
        font-family: NotoSans;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #eaeaea;
    }
}