html, body {
    height: 100%;
}

.container {
    position:relative;
    width: 100%;
    min-width: 1280px; // 창 최소 사이즈
    height: 100%;
  }

.top {
    width: 100%;
    height: 80px;

    background: #414141;
}

.left {
    position:absolute;
    top:80px;
    left:0;
    bottom: 50px;
 
    width: 444px;
    height: 915px;
}

.source {
    position:absolute;
    top:80px;
    bottom: 50px;
    left:444px;
 
    width: calc(100%  - 444px); // left 너비만큼 빼기
    height: 915px;
    // padding-left: 170px;
    // padding-top: 189px;

    background: #393939;
    // background-image: url("/bg.png");
    // background-size: cover;
    overflow: hidden;
}

.bottom {
    position:absolute;
    top:995px;

    width: 100%;
    height: 50px;
}

.minititle{
    margin-left: 100px;
    margin-bottom: 10px;
}

.mainRadioGroup{
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.radioGroup{
    .radioTitle{
        color: #e4e4e4;
    }
    .radioButton{
        margin-right: 20px;
    }
}

.vul{
    height: 55px;
    font-family: NotoSans;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;
    margin-left: 100px; // 원래 118px
    span {
        color:#bfbfbf;
        font-size : 18px;
    }
}

.vul-content-title{
    border-radius: 9px 9px 0px 0px;
    height: 30px;
    margin-left: 100px;
    margin-right: 50px;
    background: #555555;
    display:flex;
    text-align: center;
    color: #e4e4e4;
    font-size: 20px;
    .code-number{
        width: 270px;
        align-self: center;
    }
    .description{
        font-size: 20px;
        height: 30px;
        text-align: center;
        width: 70%;
        margin-top:0px;
    }
    .severity{
        width: 200px;
        align-self: center;
    }
}

.vul-content {
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333333;
    border-radius: 0px 0px 9px 9px;
    box-shadow: inset 0 0 10px;
    height: 550px; // 실제 높이
    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.star{
    align-items: center;
    vertical-align: middle;
    margin: auto 0;
    svg {
        cursor: pointer;
    }
}   

.before{
    margin-right: 0px;
    margin-left: 100px;
    margin-top: 40px;
    height: 68px;
    font-family: NotoSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #eaeaea;
    .link{
        align-self: center;
        margin-left: 20px;
    }
}

.after{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 100px;
    margin-top: 59px;
    margin-bottom: 10px;

    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        height: 68px;
        font-family: NotoSans;
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #eaeaea;
    }
    .link{
        display: inline-block;
        align-self: center;
    }
}

.linkContainer{
    display: inline-block;
    margin-left: 20px;
    .github{
        margin-left: 20px;
    }
}

