.contents{
    height: 100px;
    display:flex;
    .contentTitle{
        height: 100px;
        width: 270px;
        padding-top: 10px;
        font-family: NotoSans;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #eaeaea;
        align-items: center;
        .title-link{
            color: inherit;
            align-self: center;
            &:hover{
                color: #3aada8;
            }
        }
    }

    .contentSummary{
        width: 70%;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: NotoSans;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.04;
        letter-spacing: normal;
        text-align: left;
        color: #eaeaea;
        overflow: hidden;
        line-height: 1.5;
    }
    
    .contentScore{
        display: flex;
        margin-left: 30px;
        width: 200px;
        min-width: 162px;
        height: 100%;
        font-family: NotoSans;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.04;
        letter-spacing: normal;
        text-align: left;
        align-items: center;
        vertical-align: center;
        color: #eaeaea;
    }
}